:root {
    --primary: #10B981;
    --surface: #111827;
    --txt: #F3F4F6;
    --bg-color: #0B1220;
    --shadow: #070c15;

    --grid-template-size: 12;
    --standard-border-size: 0.2rem;
    --standard-border-radius: var(--margin-md);

    --standard-shadow: 0.125rem 0.125rem 0.1rem var(--shadow);

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 2rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

p, label, li, a, h4, h5, h6 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p, label, li, a, h1, h2, h3, h4, h5, h6 {
    color: var(--txt);
}

.bg {
    background-color: var(--bg-color);
}

.flex-display {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-start {
    justify-content: start;
}

.flex-justify-centre {
    justify-content: center;
}

.flex-align-centre {
    align-items: center;
}

.full-width {
    width: 100%
}

.list-style {
    list-style: none;
}

.nav-ul {
    justify-content: space-around;
    list-style: none;

}

.nav-links {
    width: 40%;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem 2rem;
    font-weight: 700;
    height: 0.5rem;
    margin: var(--margin-md) 0 0.5rem 0;
    border: solid var(--surface) 1px;
}

nav a:hover + hr:not(.current-page + hr) {
    display: block;
    animation: nav-link-hover 0.5s ease forwards;
}

nav a:hover:not(.current-page) {
    animation: nav-link-background 0.5s ease forwards;
}

@keyframes nav-link-background {
    from {
        background-colOR: var(--bg-color);
    }
    to {
        background-color: var(--surface);
        
    }
}

@keyframes nav-link-hover {
    from {
        background-color: var(--bg-color);
        width: 0%;
    }
    to {
        background-color: var(--surface);
        width: 100%;
    }
}

.nav-link + hr {
    display: none;
    background-color: var(--primary);
    width: 100%;
    height: 0.25rem;
    border: none;
}

.current-page {
    color: var(--bg-color);
    background-color: var(--primary); 
    
}

.current-page + hr {
    display: block;
}


.jumbo-sec {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--margin-md);
}

.highlight-txt {
    color: var(--primary);
    font-weight: 600;
}

.portfolio-desc {
    width: 60%;
    height: 90%;
    background-color: var(--surface);
    margin-right: 0.5rem;
    padding: var(--margin-md);
}

.jumbo-img {
    width: 15%;
    height: 90%;
    object-fit: cover;
    background-color: var(--primary);
}

.desc-title {
    font-size: 3rem;
    text-transform: uppercase;
}

.desc-subtitle {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.title-spacing {
    margin-bottom: var(--margin-md);
    padding-bottom: var(--margin-md);
    border-bottom: solid 0.5rem var(--darkSlate-hover);
}

.badge {
    background-color: var(--primary);
    font-size: var(--margin-md);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--surface);
}

.links-list {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: start;
}

.personal-links {
    background-color: var(--primary);
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    width: fit-content;
    border-radius: var(--standard-border-radius);
    text-decoration: none;
    margin: var(--margin-md);
    transition: all 0.25s ease;
    
}

.personal-links:first-of-type {
    margin-left: 0;
}

.personal-links:hover {
    transform: translateY(-5px);
    color: var(--primary);
    background-color: var(--surface); 
    outline: 1px solid var(--primary); 

}

.list {
    margin-left: 3rem;
}

.experience-containers {
    padding: var(--margin-md);
    width: 75vw;
    justify-self: center;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.margin-sm {
    margin: 0.5rem;
}

.margin-md {
    margin: var(--margin-md);
}

.margin-lg {
    margin: 0.5rem;
}

.button {
    
}

.button:hover {

}

@keyframes card-hover-anim {
    25% {
        outline: solid 0.3rem var(--surface);
    }
    90% {
        outline: solid 0.5rem var(--surface);
    }
}


.prevent-scroll {
    overflow-y: hidden;
}

.card {
    background-color: var(--surface);
    margin: var(--margin-lg);
}

.card-body {
    padding: var(--margin-md);
}

a.card {
    text-decoration: none;
    transition: transform 0.5s ease;
    position: relative;
    padding: none;

}

a.card::before {
    background-color: var(--primary);

    height: 100%;
    width: 10rem;
}

.proj-img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

a.card:hover {
    transform: translateY(-0.5rem);
}